#app{
  height:90vh;
}
.night{
  background-color: black;
  color:blue;
}
.day{
	background-color: white;
  color:blue;
}
#swap{
  outline:0;
}

.button_night{
  background-color:white;
  color:black; 
}
